body {
  background: #1a1b32;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.mensaje {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: aliceblue;
  text-align: center;
  margin-bottom: 20px;
}


.flower-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  clip-path: inset(70px 0 70px 0);  
  border-radius: 5%;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

svg#flower-frame {
  height: 90vh;
  width: 100%;
}
.video-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 300px; /* Ajusta el tamaño del video */
  height: 300px;
  border-radius: 10px; /* Redondea las esquinas del video si lo deseas */
   /* Agrega un efecto visual */
}

#Footer_group_1_,
[id^="PinkFlowerGroup"],
[id^="BaseGroup"] path,
[id^="LeafGroup"] path,
path[id^="Stroke"],
g[id^="BudGroup"] g[id^="BudGroup"] g[id^="Bud"],
#Bud8_1_,
#Bud10_1_,
#Bud23_1_,
#Bud26_1_,
[id^="Dots"],
[id^="Flourish"] {
  visibility: hidden;
}
